<h1><%= @product.name %></h1>
<div>
  <%= link_to "Back", products_path %>
  <%= link_to "Edit", edit_product_path(@product) %>
  <%= button_to "Delete", @product, method: :delete, data: {turbo_confirm: "Are you sure you want to delete this product?"} %>
</div>
git